body {
  text-align: center;
  background-color: #000839;
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 1px 0 grey;
  margin: 5% auto;

}

h2{

  font-size: 3rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 1px 0 grey;
  margin-top: 5%;

}

footer {
  color: #DBEDF3;
  font-family: "Arvo";
  font-size: 0.8rem;

}

.demo{
  background:    #000839;
  border:        3px solid #ffffff;
  border-radius: 11px;
  padding:       20px 45px;
  color:         #ffffff;
  display:       inline-block;
  font:          normal bold 39px/1 "Arvo", serif;
  text-align:    center;

}

.w {

background-image: url(images/crash.png);
}

.a {
  background-image: url(images/kick.png);

}

.s {
background-image: url(images/snare.png);
}

.d {
  background-image: url(images/tom1.png);

}

.j {
  background-image: url(images/tom2.png);

}

.k {
  background-image: url(images/tom3.png);

}

.l {
  background-image: url(images/tom4.png);

}

.set {
  margin: 5% auto;
}


.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
@media(max-width:600px){
  .drum {
    outline: none;
    border: 10px solid #404B69;
    font-size: 0;
    font-family: 'Arvo', cursive;
    line-height: 1;
    font-weight: 900;
    color: #DA0463;
    text-shadow: 3px 0 #DBEDF3;
    border-radius: 15px;
    display: inline-block;
    width: 75px;
    height: 75px;
    text-align: center;
    margin: 5px;
    background-color: white;




}


}
